**/.DS_Store
.idea
.vscode
.phpunit.result.cache
.phpunit.cache
build
composer.lock
coverage
node_modules
package-lock.json
test-results
phpunit.xml
vendor
/workbench/storage
/workbench/database/database.sqlite
